.home-container{
    background-image: url('./FondoHome.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    height: 800px;
}